.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

// Students List

.student-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.student-list .student {
  flex: 1 0 100%;
  margin: 0 0 1.5em;
  max-width: 33%;
}

// Schedule

.page-id-73 {
  h1 {
    text-align: center;
  }
  .post-73 {
    margin: 5rem auto;

    .entry-content {
      margin: 1rem;

      p {
        max-width: 31.25rem;
        text-align: center;
        margin: 0 auto;
      }
    }
  }

  .schedule-table {
    font-weight: bold;
    border-collapse: collapse;
    max-width: 62.5rem;
    margin: 0 auto 8rem;

    caption {
      padding: 1rem;
      font-size: 1.25rem;
    }

    thead {
      background-color: #eee;
    }

    tbody tr:nth-of-type(odd) {
      background-color: #a00529;
      color: white;
    }

    tbody tr:nth-of-type(even) {
      background-color: #eee;
    }

    tr {
      display: grid;
      padding: 2rem;
      grid-template-columns: auto;
      grid-template-areas:
        "date date"
        "course instructor";

      text-align: center;
    }

    tr :nth-child(1) {
      grid-area: date;
    }

    tr :nth-child(2) {
      grid-area: course;
    }

    tr :nth-child(3) {
      grid-area: instructor;
    }

    td {
      display: block;
      padding: 1rem;
    }

    th {
      display: block;
      padding: 1rem;
    }

    @media (min-width: 40.625em) {
      tr {
        display: table-row;
      }

      th,
      td {
        display: table-cell;
        padding: 2rem;
      }
    }
  }
}

// homepage **** //

.page-id-85 {
  margin: 0;

  .post-85 {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "thumbnail"
      "header"
      "content"
      "footer";

    .entry-header {
      grid-area: header;
    }

    .post-thumbnail {
      grid-area: thumbnail;
      img {
        display: block;
      }
    }

    .entry-content p:nth-child(1) {
      margin: 0;
      background-color: #cc0633;
      color: white;
      padding: 0 1rem 1rem;
    }

    .entry-content p:nth-child(2) {
      margin: 1rem auto;
      padding: 1rem;
      background-color: rgba(231, 231, 231, 0.5);
      max-width: 62.5rem;
    }

    .entry-content :nth-child(5) {
      padding: 1rem;
      margin: 0.5rem auto;
      max-width: 62.5rem;
    }

    .entry-content {
      grid-area: content;
      margin: 0;

      .wp-block-image img {
        display: block;
        margin: 0.5rem auto;
      }

      .wp-block-columns {
        max-width: 65rem;
        margin: 0 auto;

        p {
          background-color: white;
          font-size: large;
        }
      }
    }

    .entry-footer {
      grid-area: footer;
    }
  }

  .home-blog {
    h2 {
      text-align: center;
      font-size: 35px;
    }

    .latest-blog {
      article {
        margin: 2rem;
        border: 1px solid #e6e7e8;

        a {
          text-decoration: none;
        }

        h3 {
          font-size: 25px;
          padding: 0 0.75rem 0;
          color: rgb(78, 78, 78);
          margin-top: 0;
        }

        p {
          font-size: 10px;
          width: 100%;
          font-weight: bold;
          color: #cc0633;
          margin: 0 1rem 1rem;
        }
      }
    }
  }

  @media (min-width: 48.75em) {
    .latest-blog {
      display: flex;
    }
  }

  @media (min-width: 56.25em) {
    .post-85 {
      display: flex;
      flex-direction: column;
    }

    .entry-header {
      position: absolute;
      z-index: 1;
      top: 26rem;

      h1 {
        font-weight: bolder;
      }
    }

    .post-thumbnail {
      position: relative;
    }

    .post-85 .entry-content p:nth-child(1) {
      margin: 0;
      background-color: white;
      padding: 1rem;
      position: absolute;
      top: 33rem;
      left: 3rem;
      width: 20rem;
      color: black;
    }
  }
}

// staff page

.page-id-63 {
  h1,
  h2,
  h3 {
    text-align: center;
  }

  .entry-header {
    margin-top: 5rem;
  }

  .entry-content {
    margin: 1rem;

    p {
      max-width: 43.75rem;
      margin: 0 auto;
    }

    section {
      margin: 3rem 1rem 5rem;
      p {
        max-width: 31.25rem;
      }
    }

    section h2:nth-child(1) {
      font-size: 30px;
    }
  }

  @media (min-width: 59.375rem) {
    section {
      .tax-div {
        display: flex;
        justify-content: space-evenly;

        p {
          margin: 1rem 0;
          a {
            text-decoration: none;
            font-weight: bold;
            color: #cc0633;
          }
        }
      }
    }
  }
}

// **** //

// News Page

.blog,
.single-post {


#news-title {
  text-align: center;
}

.aos-init {
  margin: 0 auto;
  max-width: 50rem;
  padding: 2rem;

  .entry-header {
    h2 {
      margin: 0 0 1.5em;
      a {
        color: #000000;
        text-decoration: none;
        font-size: 1.5rem;
        text-align: left;
      }
    }

    .entry-meta {
      a {
        text-decoration: none;
        font-weight: bold;
        color: #cc0633;
      }
    }
  }
}

.widget-area {
  height: 50rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 71.875rem;

  section {
    margin: 1rem 0;
  }

  .wp-block-latest-posts {
    margin: 0;
    text-align: center;
    
    li a {
      text-decoration: none;
      font-weight: bold;
      color: #cc0633;
    }
  }

  .wp-block-categories {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      list-style-type: none;
      a {
        text-decoration: none;
        font-weight: bold;
        color: #cc0633;
      }
    }
  }
  
  .wp-block-calendar {
    margin: 0;
  }
}

  @media (min-width: 62.5em) {

  .widget-area {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
    flex-direction: row;
    height: auto;
    align-items: unset;
  }
}
}

// single news post

.single-post {
  
}






