#masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
  .site-branding {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.site-title .custom-logo {
  display: block;
  max-width: 100%;
  height: auto;
  width: 3rem;
  fill: #fff;
}

.desktop-title {
  display: none;
}

.site-title {
  margin: 0;
  padding: 1rem;
  font-size: 1.5em;
  color: #fff;
  background-color: $color-primary;

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.menu-menu-1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: $color-primary;
  top: 100%;
}

.main-navigation {
  display: block;
  width: auto;

  padding-right: 1rem;
  top: 1.5rem;
  right: 2rem;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 0;
    opacity: 0;
    a {
      text-decoration: none;
      color: white;
      font-weight: 700;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          display: block;
          left: auto;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  opacity: 1;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 1rem;
  transition: opacity 1s ease-in-out;
}

.main-navigation.toggled ul {
  background-color: $color-primary;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation {
    position: static;
  }

  .desktop-title {
    display: block;
    padding: 0 1rem;
    margin: 0;
    font-size: 1.5em;
    color: rgb(62, 62, 62);
    font-family: "Playfair Display", serif;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .main-navigation ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    height: auto;
    position: relative;
    font-size: 1.1rem;
    background-color: #fff;
    opacity: 1;
    a {
      color: black;
      font-weight: 400;
    }
  }
  .menu-menu-1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;

    .sub-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}
